/* Modal.css */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 500px;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
  }
  
  .modal-body {
    margin-top: 20px;
  }
  
  .close-btn {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #888;
  }
  